<div class="wrapper row4">
    <footer id="footer" class="hoc clear">
        <div class="one_quarter first">
            <h6 class="title">Contact Personal</h6>
            <ul class="nospace linklist contact">
                <li>
                    <i class="fa fa-map-marker"></i>
                    <address>
                        H1 Apartment &amp; Hoang Dieu, District 4, Ho Chi Minh City
                    </address>
                </li>
                <li>
                    <i class="fa fa-phone"></i> +00 (123) 456 7890<br>
                    +00 (123) 456 7890
                </li>
                <li><i class="fa fa-fax"></i> +00 (123) 456 7890</li>
                <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
            </ul>
        </div>
        <div class="one_quarter">
            <h6 class="title">Popular Programs</h6>
            <ul class="nospace linklist">
                <li><a href="#">English for Beginner</a></li>
                <li><a href="#">English for Communication</a></li>
                <li><a href="#">Practice for TOEIC</a></li>
                <li><a href="#">Practice for IELTS</a></li>
                <li><a href="#">Business English</a></li>
            </ul>
        </div>
        <div class="one_quarter">
            <h6 class="title">Send Email</h6>
            <p class="btmspace-30">Please send your email, If you have any question</p>
            <form method="post" action="#">
                <fieldset>
                    <legend>Newsletter:</legend>
                    <input class="btmspace-15" type="text" value="" placeholder="Name">
                    <input class="btmspace-15" type="text" value="" placeholder="Email">
                    <button type="submit" value="submit">Submit</button>
                </fieldset>
            </form>
        </div>
        <div class="one_quarter">
            <h6 class="title">Our Locations</h6>
            <ul class="nospace linklist">
                <li>
                    <article>
                        <h2 class="nospace font-x1"><a href="#">SAPPHIRE quận 4 </a></h2>
                        <time class="font-xs block btmspace-10" datetime="2045-04-06">Thursday, 10<sup>th</sup> August 2017</time>
                        <p class="nospace">Chung cư H1, Hoàng Diệu, Quận 4, Thành Phố Hồ Chí Minh</p>
                    </article>
                </li>
                <li>
                    <article>
                        <h2 class="nospace font-x1"><a href="#">SAPPHIRE quận Bình Thạnh</a></h2>
                        <time class="font-xs block btmspace-10" datetime="2045-04-05">Thursday, 10<sup>th</sup> August 2017</time>
                        <p class="nospace">D2, Quận Bình Thạnh, Thành Phố Hồ Chí Minh</p>
                    </article>
                </li>
            </ul>
        </div>        
    </footer>
</div>


<div class="wrapper row5">
    <div id="copyright" class="hoc clear">
        <p style="text-align: center">&copy; 2017 Sapphire Vietnam. All Rights Reserved.- <a href="#" style="color: #82A800; font-weight: 800">Sapphire</a></p>
    </div>
</div> 