<!-- Top Background Image Wrapper -->
<div class="bgded" style="background-image:url('../Content/img/backgrounds/main-bg.jpg'); height: 410px;">
    <div class="wrapper overlay">
        <header id="header" class="hoc clear">
            <nav id="mainav" class="clear" style="width: 900px; margin-right: 45px">
                <ul class="clear">
                    <li class="active"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                    <li><a href="#">Giới thiệu về Sapphire</a></li>
                    <li>
                        <a class="drop" href="#">Các khóa học</a>
                        <ul>
                            <li><a href="@Url.Action("Course","Home")">IELTS</a></li>
                            <li><a href="#">Toeic</a></li>
                            <li>
                                <a class="drop" href="#">Giao tiếp</a>
                                <ul style="width: 180px">
                                    <li><a href="#">Giao tiếp quốc tế</a></li>
                                    <li><a href="#">Giao tiếp thương mại</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="drop" href="#">Tin tức</a>
                        <ul>
                            <li><a href="@Url.Action("Index","News")">Tin tức & sự kiện</a></li>
                            <li><a href="pages/full-width.html">Ưu đãi</a></li>
                            <li><a href="@Url.Action("ImageLibrary","News")">Thư viện hình ảnh</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="drop" href="#">Thư viện</a>
                        <ul>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Tài liệu</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Liên Hệ</a></li>
                </ul>
            </nav>
            <div id="logo">
                <h1>
                    <img class="ico" src="../Content/img/backgrounds/main1.ico" style="height: 45px; margin-right: 10px; margin-bottom: 4px;">
                    <a href="index.html">Sapphire</a>
                </h1>
            </div>
        </header>
    </div>
</div>
<!-- End Top Background Image Wrapper -->
