
@{
    ViewBag.Title = "View";
}
<div style="background-color: #E6372E">
    <h1 style="text-align: center; margin: 15px 0px 0px 0px; color: white; font-size: 40px"><b>Về Chúng Tôi</b></h1>
</div>


<div class="row" style="margin-top: 5%; margin-bottom: 3%">
    <div class="col-sm-3" style="margin-left: 5%; width: 30%">
        <h1 style="color: #82A800; font-size: 30px; text-align: center"><i>Giới Thiệu</i></h1>
        <p>SAPPHIRE là một trong những công ty đầu tư về đào tạo Anh ngữ tin cậy cho người Việt Nam và cộng đồng trong khu vực.</p>
        <p>Với uy tín và kinh nghiệm trong đào tạo Anh ngữ tại Việt Nam, SAPPHIRE English Center cung cấp phương pháp, triển khai mô hình đào tạo tiên tiến nhất hiện nay.</p>
    </div>
    <div class="col-sm-3" style="width: 30%">
        <h1 style="color: #82A800; font-size: 30px; text-align: center"><i>Sứ Mạng</i></h1>
        <p>Hãy trao cho chúng tôi sự tin tưởng, chúng tôi sẽ mang lại cho bạn tất cả những gì tốt nhất mà chúng tôi có.
        <p>Chúng tôi luôn tự hào rằng, chúng tôi làm việc và sống luôn có mục tiêu, mục tiêu lớn nhất của SAPPHIRE đó chính là giúp nhiều người Việt có thể sử dụng tiếng Anh như ngôn ngữ chính thứ hai.</p>
    </div>
    <div class="col-sm-3" style="width: 30%">
        <h1 style="color: #82A800; font-size: 30px; text-align: center"><i>Tầm Nhìn</i></h1>
        <p>SAPPHIRE luôn nỗ lực và cố gắng hết mình để trở thành tổ chức đào tạo uy tín trong khu vực và vươn ra thế giới.</p>
        <p>Chúng tôi luôn luôn có thái độ làm việc một cách nghiêm túc để có thể đạt được những gì mà bản thân tin và kỳ vọng. "We are maybe not the best but we do the best".</p>
    </div>
</div>

<div class="row" style="margin-left: 7%">
    <div class="col-sm-3">
        <div class="row">
            <div class="col-sm-3" style="text-align: right">
                <img src="~/Content/img/geography-64.png" width="70" height="70" style="margin-top: 50%" />
            </div>
            <div class="col-sm-5">
                <h1 style="font-size: 50px; margin-bottom: 0px"><b>1</b></h1>
                <p>Chi nhánh</p>
            </div>
        </div>

    </div>
    <div class="col-sm-3">
        <div class="row">
            <div class="col-sm-3" style="text-align: right">
                <img src="~/Content/img/e-learning-64.png" width="70" height="70" style="margin-top: 50%" />
            </div>
            <div class="col-sm-5">
                <h1 style="font-size: 50px; margin-bottom: 0px"><b>3</b></h1>
                <p>Chương trình</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="row">
            <div class="col-sm-3" style="text-align: right">
                <img src="~/Content/img/write_compose-64.png" width="70" height="70" style="margin-top: 50%" />
            </div>
            <div class="col-sm-5">
                <h1 style="font-size: 50px; margin-bottom: 0px"><b>4</b></h1>
                <p>Khóa học</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="row">
            <div class="col-sm-3" style="text-align: right">
                <img src="~/Content/img/student-64.png" width="70" height="70" style="margin-top: 50%" />
            </div>
            <div class="col-sm-5">
                <h1 style="font-size: 50px; margin-bottom: 0px"><b>0</b></h1>
                <p>Học viên</p>
            </div>
        </div>
    </div>
</div>

<div style="background-color: #E6372E">
    <h1 style="text-align: center; margin: 15px 0px 0px 0px; color: white; font-size: 40px"><b>Cơ Sở Vật Chất</b></h1>
</div>


<div class="w3-content" style="max-width:1200px; margin-top: 5%">
    <img class="mySlides" src="~/Content/img/class1.jpg" style="width:100%; height:400px">
    <img class="mySlides" src="~/Content/img/class2.jpg" style="width:100%; height:400px">
    <img class="mySlides" src="~/Content/img/class3.jpg" style="width:100%; height:400px">

    <div class="w3-row-padding w3-section">
        <div class="w3-col s4">
            <img class="demo w3-opacity w3-hover-opacity-off" src="~/Content/img/class1.jpg" style="width:100%" onclick="currentDiv(1)">
        </div>
        <div class="w3-col s4">
            <img class="demo w3-opacity w3-hover-opacity-off" src="~/Content/img/class2.jpg" style="width:100%" onclick="currentDiv(2)">
        </div>
        <div class="w3-col s4">
            <img class="demo w3-opacity w3-hover-opacity-off" src="~/Content/img/class3.jpg" style="width:100%" onclick="currentDiv(3)">
        </div>
    </div>
</div>

<style type="text/css">
    hr {
        border: 2px solid red;
        width: 60%;
        margin-top: 15px;
        margin-bottom: 0px;
    }

    img {
        max-width: 200%
    }

    .mySlides {
        display: none;
    }

    .demo {
        cursor: pointer;
    }
</style>

<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function currentDiv(n) {
        showDivs(slideIndex = n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
        }
        x[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " w3-opacity-off";
    }
</script>
