@{
    ViewBag.Title = "Home";
}

<div class="wrapper row3">
    <section class="hoc container clear" style="padding-top: 0px">
        <!-- ################################################################################################ -->
        <div class="center btmspace-50">
            <h2 class="heading" style="padding-top: 40px;color: #333333;font-weight: 700">ĐỘI NGŨ NHÂN VIÊN</h2>
            <p>Đội ngũ giáo viên chuyên nghiệp, kinh nghiệm và có bằng cấp chứng chỉ chuyên ngành trong lĩnh vực Giáo dục & Đào tạo ESL, luôn tận tâm hỗ trợ, hướng dẫn học viên đạt được mục tiêu nhanh nhất.</p>
        </div>
        <ul class="nospace elements">
            <li class="one_third first">
                <article>
                    <a href="#"><img src="~/Content/img/backgrounds/staff1.jpg" alt=""></a>
                    <div class="txtwrap">
                        <h6 class="heading">Malesuada posuere</h6>
                        <time datetime="2045-04-06">6<sup>th</sup> April 2045</time>
                        <p>Ante pulvinar hendrerit ipsum ut scelerisque sapien purus sit amet&hellip;</p>
                    </div>
                </article>
            </li>
            <li class="one_third">
                <article>
                    <a href="#"><img src="~/Content/img/backgrounds/staff2.jpg" alt=""></a>
                    <div class="txtwrap">
                        <h6 class="heading">Vivamus sit amet</h6>
                        <time datetime="2045-04-05">5<sup>th</sup> April 2045</time>
                        <p>Sagittis in aenean porta semper tortor vel blandit magna integer ac&hellip;</p>
                    </div>
                </article>
            </li>
            <li class="one_third">
                <article>
                    <a href="#"><img src="~/Content/img/backgrounds/staff3.jpg" alt=""></a>
                    <div class="txtwrap">
                        <h6 class="heading">Pulvinar nisl non</h6>
                        <time datetime="2045-04-04">4<sup>th</sup> April 2045</time>
                        <p>Neque malesuada euismod proin sit amet nisl velit mauris orci nisl&hellip;</p>
                    </div>
                </article>
            </li>
        </ul>
        <!-- ################################################################################################ -->
    </section>
</div>
<div class="bgded overlay" style="background-image:url('Content/img/backgrounds/images.jpg');">
    <section id="testimonials" class="hoc container clear">
        <!-- ################################################################################################ -->
        <div class="center btmspace-50">
            <h2 class="heading" style="padding-top: 0px;color: white;font-weight: 700">HỌC VIÊN NÓI GÌ</h2>
            <p>Với mục tiêu và nền tảng là học viên, SAPPHIRE xây dựng từng nội dung chương trình dựa trên nhu cầu thực tế nhằm mang lại hiệu quả tối ưu và tính thực tiễn thông qua từng buổi học.</p>
        </div>
        <ul class="nospace group">
            <li class="one_half first">
                <div class="clear">
                    <img src="~/Content/img/backgrounds/student1.jpg" alt=""> <span class="block"><strong>Khánh Vân</strong> / <em>Student</em></span>
                    <blockquote>Mình làm trong lĩnh vực CNTT, sếp và đồng nghiệp đa số toàn người nước ngoài nên ngôn ngữ chính là Tiếng Anh. Sau hai khoá học từ trình độ căn bản mình đã giao tiếp tự tin và khá thành thạo nhờ đó lương của mình cũng đã "tự tin" hơn...</blockquote>
                </div>
            </li>
            <li class="one_half">
                <div class="clear">
                    <img src="~/Content/img/backgrounds/student2.jpg" alt=""> <span class="block"><strong>Ngân Hồ</strong> / <em>Student</em></span>
                    <blockquote>Bạn nên dừng ngay việc đặt câu hỏi "làm thế nào giao tiếp lưu loát", mà hãy tham gia ngay một khoá để cải thiện. À, có thể yêu cầu học thử đấy!</blockquote>
                </div>
            </li>
        </ul>
        <!-- ################################################################################################ -->
    </section>
</div>
<div class="wrapper row3">
    <main class="hoc container clear" style="padding-top: 40px;">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <div class="center btmspace-50">
            <h2 class="heading" style="padding-top: 40px;color: #333333;font-weight: 700">BLOG - GÓC CHIA SẺ</h2>
        </div>
        <ul class="nospace group blocks">
            <li class="one_quarter first bgded overlay" style="background-image:url('Content/img/backgrounds/communication.jpg');"><a class="btn medium" href="#">Communication</a><br></li>
            <li class="one_quarter bgded overlay" style="background-image:url('Content/img/backgrounds/vocalbulary.jpg');"><a class="btn medium" href="#">Vocalbulary</a><br></li>
            <li class="one_quarter bgded overlay" style="background-image:url('Content/img/backgrounds/grammar.jpg');"><a class="btn medium" href="#">Grammar</a><br></li>
            <li class="one_quarter bgded overlay" style="background-image:url('Content/img/backgrounds/idioms.jpg');"><a class="btn medium" href="#">Idioms</a><br></li>
        </ul>
        <!-- ################################################################################################ -->
        <!-- / main body -->
        <div class="clear"></div>
    </main>
</div>
<div class="wrapper coloured">
    <div class="hoc clear">
        <!-- ################################################################################################ -->
        <figure id="logos">
            <ul class="nospace group">
                <li><a href="#"><img src="~/Content/img/logo.png" alt=""></a></li>
                <li><a href="#"><img src="~/Content/img/logo.png" alt=""></a></li>
                <li><a href="#"><img src="~/Content/img/logo.png" alt=""></a></li>
                <li><a href="#"><img src="~/Content/img/logo.png" alt=""></a></li>
                <li><a href="#"><img src="~/Content/img/logo.png" alt=""></a></li>
            </ul>
            <figcaption class="hidden"><a class="btn small" href="#">More &raquo;</a></figcaption>
        </figure>
        <!-- ################################################################################################ -->
    </div>
</div>

